html {
    background-color: rgb(88, 88, 88);
} /* changes the whole document */

body {
    width: 300px; /* changes width of box */
    margin: 10 10; /* first number is top and bottom, second is left and right */ 
                    /* you can specify all 4 directions, it moves in a clockwise pattern */
}

h1, h2, h3, h4, h5, h6, p, li {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

button {
    color: purple; /* makes the text on the button purple */
}